<body>
    <h1>Convert INR </h1>
<p>Go <a href="/">back</a>.</p>
<ul>
  <% @symbols.each do |key,value| %>
    <li><a href="/INR"> Convert 1 INR to  <%= key %> to... </a></li>
  <% end %>
</ul>

</body>
